@import 'https://fonts.googleapis.com/css?family=Lato';

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 5px;
}

h2 {
    margin: 0px;
}

.fullstackLogo {
    padding-right: 35px;
}

.outerContainer {
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: grey;
   
}

.gameContainer {
    border-radius: 10px;
    /*width: 40%;*/
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-bottom: 12px;
}

.guessInput {
    margin: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

button{
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#submit {
    color: white;
    background-color: red;
}

.hint {
    color: black;
}

.historyContainer {
    display: none;
}

.clueContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.reveal {
    color: white;
    background-color: black;
}

#high{
    font-size: 18px;
}

#low{
    font-size: 10px;
}


